#root {
    height: 100vh;
}
.header {
    background-color: #25d366;
}

#login {
    background-color: #f9f9fa;
}

.submitButton {
    width: 100%;
    color: #25d366;
    background-color: #fff;
    border: 1px solid #25d366;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #25d366;
    border: none;
}